extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/login' method='post')
    input(type='text' name='email' placeholder='Votre email')
    input(type='password' name='mdp' placeholder='Mot de passe')
    input(type='submit')

  a(href='/register') Créer un compte
